ul {
    list-style: none;
}

.product-on-list {
    margin: 15px;
    padding: 20px;
    border: solid 1px  #727272;;
    border-radius: 5px;
}

.product-on-list a h4:hover {
    text-decoration: underline;
}

.product-on-list a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}