.topbar {
  background-color: #727272;
}

h2 {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
}

.topbar a:link {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  padding: 20px;
}

nav a {
  margin-left: 40px;
  padding: 10px 30px;
  border-radius: 5px;
  border: white solid 1px;
}

nav a:hover {
  background-color: #858585
}
