h2 {
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin-left: 40px;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 5px;
  border: #818181 solid 1px;
}

nav a:visited,
a:link {
  color: #505050;
}

nav a:hover {
}
