.list {
    text-align: center;
}

.product-on-list {
    justify-content: center;
    display: inline-block;
    min-width: 200px;
    margin: 15px;
    padding: 20px;
    border: solid 1px  #727272;;
    border-radius: 5px;
}

.product-on-list:hover {
    background-color: #f1f1f1;
}

.product-on-list a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.product-on-list a h4:hover {
    text-decoration: underline;
}

.product-on-list img {
    width: 150px;
    height: 150px;
    opacity: 0.1;
}

ul {
    list-style: none;
}
