<div *ngIf="product; else elseBlock" class="product">
  <div>
    <h3>
      {{product.name}}
    </h3>
    <p>
      {{product.description}}
    </p>
    <p>
      Price: {{product.price}}
    </p> <button class="btn" (click)="addProductToCart(product)">Add to cart</button>
  </div>
  <div>
    <!-- iCon by oNlineWebFonts.Com -->
    <img src="../../assets/images/sword.png" />
  </div>
</div>

<ng-template #elseBlock class="items-center">
  <p>Sorry, we don't have such product.</p>
</ng-template>