/* You can add global styles to this file,
and also import other style files */

body {
  font-family: 'Marcellus', serif;
  max-width: 1200px;
  margin: auto;
}

.items-center {
  display: flex;
  text-align: center;
  justify-content: center;
}

.btn {
  padding: 10px;
  color: white;
  background-color:#367394;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover{
  background-color: #558fad;
}
